<h1>Symantec New Credential</h1>
<p>Add a device credential to associate with your account. Give it a unique name and a 6 digit code associated with the credential.</p>

<%= form_tag symantec_auth_add_credential_path, method: :post do %>

	 <div class="form-group">
    <%= label_tag "Device Credential" %><br />
    <%= text_field_tag :credential, "", {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= label_tag "Credential Name" %><br />
    <%= text_field_tag :name, "", {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= label_tag "OTP" %><br />
    <%= text_field_tag :otp, "", {class: "form-control"} %>
  </div>

	<%= submit_tag "Authenticate", class: "btn btn-default" %>

<% end %>